* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* layout */

.contenitore {
    width: 80%;
    height: 100px;
    margin: 10px auto;
}

.intestazione {
    height: 100px;
    background-color: violet;
}

.banner {
    height: 250px;
    background-color: lightgoldenrodyellow;
    margin: 10px 0;
}

.articoli {
    height: 250px;
    background-color: blue;
    margin: 10px 0;
}

.titolo {
    height: 50px;
    margin: 10px 0;
    background-color:lightblue;
}

.col-sx,
.col-dx {
    width: 25%;
}

.col-cn {
    width: 50%;
    margin: 0 10px;
}

[class*="col-"] {
    float: left;
    height: 100%;
    background-color: lightblue;
}

.fine-pagina {
    height: 80px;
    background-color: purple;
}


