* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

/* layout */

.contenitore {
    width: 80%;
    height: 100px;
    margin: 10px auto;
}

.intestazione {
    height: 100px;
    background-color: violet;
}



